<div class="container">
  <h1>
    Tasks
    <br>
  </h1>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">In Progress</a>
    </li>
    <li>
      <a href="#">Back log</a>
    </li>
    <li>
      <a href="#">Done</a>
    </li>
  </ul>
  <p>
    <br>
  </p>
  <div class="row-fluid">
    <div class="span4">
      <h3>
        name:
        <br>
      </h3>
      <p>
        Content
      </p>
    </div>
    <div class="span4" class="column">
      <h3>
        Task Column
        <br>
      </h3>
      <p>
        Content
      </p>
    </div>
    <div class="span4">
      <h3>
        Name:
        <br>
      </h3>
      <p>
        Content
      </p>
    </div>
  </div>
</div>
<!-- /container -->