<div class="span12">
  <div class="row-fluid">
    <br>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span5">
          <h3>Task Board</h3>
        </div>        
      </div>
     <div class="row-fluid">
    <div class="span5">
  </div>
</div>
<br>


      <%= render 'task_table', tasks:  @pending_tasks %>

      <%= render 'task_table', tasks: @completed_tasks %>

